<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-tooltip="Add a new ReCap!">
    {{!-- <i class="fas fa-plus"></i></a> --}}
    <i class="large material-icons">add</i></a>
</div>