<h3>ReCaps</h3>
    <i class='small material-icons'>directions_bike</i>
    <i class='small material-icons'>swap_horiz</i>
    <i class='small material-icons'>important_devices</i>
<div class="section">
    <h5 class="lead">Micro Cycling Journalism</h5>
    <p class="lead">Read and create the tales from the inside the pack.</p>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i>Login with google
        </a>
    </div>