<h3>Edit Story</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title" value="{{story.title}}">
                <label for="title">Title:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    {{#select story.status}}
                    {{!-- Helper inserted options with correct selection --}}
                    {{/select}}
                </select>
                <label for="status">Status: </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Create your story:</h5>
                <textarea name="body" id="body">{{story.body}}</textarea>
                <label for="body"></label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn green">
            <a href="/dashboard" class="btn grey">Cancel</a>
        </div>
    </form>
    </form>
</div>